.padre-flex{
    width: 800px;
    height: 600px;    
    background-color: red;

    display:flex;
    flex-direction: column-reverse;   
    flex-wrap: wrap;    
    justify-content: space-between; 
}
.hijo-flex{
    font-size: 80px;
    border: 1px solid black;
    background-color: green;
    color: white;
    width: 200px;
    height: 200px; 

}





.ejemplo{
    display: flex;
    justify-content: row;
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: green;
    justify-content: flex-end;
}
.botton{
    height: 20px;
}
/*Clase dia 26 martes*/
*{
    box-sizing: border-box;
}
.padreM{
    display: flex;
    background-color: blue;
    height: 500px;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    /*align-items: center;por defecto strech (se refiere a una sola linea*/
    align-content:flex-end;/*va con: flex-wrap: wrap; pq salta*/

}
.hijo{
    border: 1px solid black ;
    background-color: rgb(185, 202, 168);
    /*width: 80px;*/
    height: 80px;
    margin: 5px;
    flex-grow: 1;/*se va expandiendo (0 se queda como esta*/
    flex-shrink: 1;/*para reducir*/
    /*flex-basis: 100px;/* =width (row) heigt(colum); si estoy en row es altura y en colum es añchura. podemos quitar width o heigth*/
    /*flex;0 0 100px; grow shrink basis*/
}
.grow{
    flex-grow: 3;
}
.shrink{

    flex-shrink: 4;
}


