*{
   box-sizing: border-box; 
}
body{
    background-color: blue;
}
.container{
    background-color: blue;
    max-width: 1200px;
    width: 100%;  
    margin: 0 auto;/*margin-left: auto; margin-right: auto; para centrar*/
    padding: 0 1em;
}
/*@media(min-width:800px) and (max-width:1000px){
    .container{
        background-color: yellow;
        font-size: 2em;
    }

}
@media(min-width:600px)and (max-width:799px){
    .container{
        background-color:green;
        font-size: 3em;
    }

}

@media(max-width:599px){
    .container{
        background-color:rosybrown;
        font-size: 3em;
    }

}*/
.hijo{
   background-color: red;
}
.primo{
    background-color: green;
}
.virensis  img{
    width: 1000px;
    height: auto;
    object-fit:cover;

}